<div class="container">
    <h2 class="text-center">Document Timestamping and verification using
        Blockchain</h2>
    <hr />
    <div class="row">

        <div class="col">
            <h4>Sign and Upload to Blockchain</h4>
            <hr />
            <form action="#">
                <div class="form-group">
                    <label for="uploadDocument">Upload document</label>
                    <input type="file" class="form-control document upload" id="uploadDocument" placeholder=""
                        name="document" required />
                </div>
                <div class="form-group">
                    <label for="uploadUuid">Document name</label>
                    <input type="text" class="form-control" id="uploadUuid" name="uuid" readonly />
                </div>
                <div class="form-group">
                    <label for="hash">SHA256 of uploaded document</label>
                    <textarea class="form-control" id="uploadHash" placeholder="" name="hash" readonly></textarea>
                </div>

                <button id="signButton" type="button" class="btn btn-primary">Save into
                    Blockchain</button>
            </form>
            <br />
            <div class="row">
                <div class="col">
                    Transaction hash:
                    <span id="txHash">N/A</span>
                    <br />
                    Transaction Link:
                    <span id="txLink">N/A</span>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/sign.js">  </script>